body {
    font-family: Arial, sans-serif;
    background-color: #e1e3d5; /* Set your desired background color */
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 80%; /* Set your desired table width */
    margin: 20px auto; /* Center the table on the page */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF; /* Set your header background color */
    color: white; /* Set your header text color */
}

tr:hover {
    background-color: #e1e3d5; /* Set your row hover background color */
}

a {
    display: block;
    width: 100px; /* Set your desired width for the link */
    padding: 10px;
    margin: 20px auto; /* Center the link on the page */
    background-color: #007BFF; /* Set your link background color */
    color: white; /* Set your link text color */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3; /* Set your link hover background color */
}
